<style>
	
	iframe {
		min-width:100%;
		min-heighth:100%;
		width:auto;
		hight:auto;
	}
</style>

<h1>New Pin</h1>

<iframe>
 	src="https://player.vimeo.com/video/12003107
</iframe>

<%= render 'form' %>

<%= link_to 'Back', pins_path %>
